.one-line-container
  background: rgba(#247F65, .1)
  padding: .6rem 2rem
  width: 100vw

  .one-line-wrapper
    max-width: 1080px
    margin: 0 auto
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    // margin: 0 1rem
  
  @media(max-width: 980px)

    .one-line-wrapper
      flex-direction: column
      align-items: flex-start
      text-align: center
      width: 100%
      margin: 1rem 0

      .one-line-item
        width: 100%
        margin: 1rem 0