.one-line-container
  background: rgba(#1c7878, .1)
  padding: .6rem 2rem
  max-width: 1080px
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center

  .one-line-item
    // margin: 0 1rem