.big-news
  margin: 2rem auto
  text-align: center
  &--text
    font:
      size: 1.4rem
      style: italic
    margin-bottom: .3rem
    line-height: 1.2
  &--link a
    color: #050505
    text-decoration: underline
    font:
      size: .9rem
      weight: bold
    &:hover
      color: #050505
      opacity: .8
