.news-content
  flex: 2
  padding: .2rem
  &.blank-item
    background: rgba(#4BBC29, .9)
  &--description
    color: black
    font-family: 'Helvetica', sans-serif
    height: 50%
  button
    margin-right: 1rem