.news-content-container
  width: 100%
  flex: 2
.news-content
  display: flex
  flex: 2
  width: 100%
  // padding: .2rem
  &--text
    width: 100%

    display: flex
    &--box
      margin: 0 .3rem
      flex: 2
      &.blank-item
        background: rgba(#4BBC29, .9)
      &__title
        width: 100%
      &__short-description
        color: #111
        height: 130px
        line-height: 1
      &__description
        color: #111
        height: 400px
        line-height: 1
        margin-bottom: 1rem
      .html-editor
        // width: 50%
        // height: 100%
        margin-top: .6rem
        font-family: 'HK Grotesk', sans-serif
        border-radius: 0
        border: none
        
  &--sidebar
    width: 120px
    text-align: center
    padding-left: .3rem
    margin-left: .3rem
    
    border-left: 1px solid #444
    &__section
      margin-top: 1rem
    &__state-indicator
      display: flex
      justify-content: center
      align-items: center
      margin-bottom: 1rem
      &--sphere
        margin: .3rem
        width: 14px
        height: 14px
        border-radius: 50%
        background: #777
        &.online
          background: #03F395
          box-shadow: 0 0 4px #03F395
  &--buttons
    padding: .2rem 100px 0 .3rem
    display: flex
    justify-content: space-between
    width: 100%
    button
      margin-right: 1rem