.long-text
  max-width: 880px
  padding: 2rem 1.5rem
  margin: 2rem auto
  &.noHead
    margin-top: 0
  &--title
    font:
      size: 1.8rem
      weight: bold
    line-height: 1.1
    margin-bottom: 1.4rem
  &--link
    margin-top: .5rem
    img
      width: 16px
    a
      color: #050505
      text-decoration: underline