.long-text
  max-width: 880px
  padding: 2rem 1.5rem
  margin: 2rem auto
  &.noHead
    margin-top: 0
  &--title
    font:
      size: 1.8rem
      weight: bold
    line-height: 1.1
    margin-bottom: 1.4rem
  &--image
    height: 5rem
    margin: 1rem 0
    &.big
      height: 12rem
    img
      height: 100%
  &--list
    margin: 1rem 0
    &__title
      margin: 2rem 0 1rem
    ul
      padding-left: 1rem
      li 
        display: flex
        align-items: flex-start
        img
          margin: .3rem .3rem 
          width: 16px
  &--text
    ul
      margin-top: 1rem
      margin-left: 2rem
      list-style: square
    p
      margin: 1rem 0
  &--link
    margin-top: .5rem
    img
      width: 16px
    a
      color: #050505
      text-decoration: underline

  &--bottom-images
    margin: 2rem 0 1rem
    display: flex
    justify-content: center
    @media(max-width: 320px)
      display: block
      text-align: center
      img
        margin: 1rem !important
    // height: 200px
    img
      height: 100px
      margin: 0 2rem