.carousel-item
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  padding: 1rem
  // height: 200px
  &--info
    padding: 0 2rem
    text-align: left
    flex: 1
    &__header
      display: flex
      flex-direction: row
      align-items: center
      margin-bottom: .4rem
      .info-title
        margin-left: .5rem
        &--category
          font-family: 'Roboto', sans-serif
          text-transform: uppercase
        &--main
          font-family: 'Roboto Slab', serif
          color: #FFC52D
          font-size: 3.4vw
  &--image
    flex: 1
    // width: 140px !important