.icon-link-box
  display: flex
  flex-direction: row
  align-items: center
  .icon img
    height: 1.6rem
  .link 
    margin-left: .3rem
    &.red
      a
        color: #ef542b !important
    &.petrol
      a
        color: #247f65 !important
    a
      color: #050505
      text-decoration: underline
      font-weight: bold
