
.multi-step-container
  display: flex
  justify-content: center
  font-family: 'HK Grotesk', sans-serif
  margin: 2rem auto
  .multi-step-form
    max-width: 880px
    margin: 0 auto
    

    .step
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      width: 90%
      margin: 0 auto
      text-align: left

      .saving-screen
        position: fixed
        top: 0
        left: 0
        width: 100vw
        height: 100vh
        z-index: 4
        background: rgba(white, .7)
        align-items: center
        justify-content: center
        display: none
        &.visible
          display: flex
      textarea
        border: 1px solid #ccc
        width: 100%
        margin: 0 auto
        max-width: 800px
        height: 10rem
        text-align: left

      .dropzone 
        margin-bottom: 1rem

        .dropzone-inner 
          height: 100px
          width: 80%
          margin: 1rem auto
          border: 2px dashed #888
          border-radius: 4px
          display: flex
          justify-content: center
          align-items: center
          background-image: linear-gradient(#A3CDFA, #A3CDFA)
          color: rgba(255, 255, 255, 0.7)


        .dropzone-image 
          font-size: 1.8rem

        aside
          display: grid
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr
          font-size: .8rem
          justify-content: center
          div
            margin: .3rem .5rem