.button
  border: none
  padding: .3rem .5rem
  &:hover
    text-decoration: none
    color: inherit
    opacity: .9
  &.cta
    margin-right: .4rem
    font-size: .9rem
    background: #FFC800
    text-transform: uppercase
    font-weight: bold
    color: #151515
  &.secondary
    margin-right: .4rem
    font-size: .9rem
    background: #EBEDED
    color: #2B2B2B
    text-transform: uppercase
