.input-button-box
  font-family: 'HK Grotesk', sans-serif
  
    
  .signup-box
    display: flex
    box-shadow: 0 0 0 rgba(#59D8D8, 1)
    transition: all 1000ms ease-in-out
    &.focused
      box-shadow: 0 0 3rem rgba(#59D8D8, 1)
      transition-duration: 10ms

  form
    padding: 0

  input, button
    height: 2.1rem
  input
    border: none
    padding: .2rem .6rem
  button
    
    border: none
    padding: .3rem .6rem
    font-size: .9rem
    background: #1c7878
    text-transform: uppercase
    font-weight: bold
    color: #fff
    cursor: pointer
    &:hover
      text-decoration: none
      
      opacity: .9
    
    