// .tootltip
//   text-decoration: underline !important
//   color: red

.step-container
  // padding: 1rem
  padding-top: 1rem
  margin-bottom: 1rem
  .error-msg
    display: block
    margin: -4px 0 0
    line-height: .8
    font-size: .8rem
    color: #ef542b
  p
    margin: .5rem 0
  textarea
    width: 100%
    max-width: 800px
    min-height: 5rem
  input
    margin-right: .4rem
    &[type="text"]
      height: 2rem
      border-radius: 4px !important
      border: 1px solid #bbb
      width: 30%
      margin: .8rem .3rem .8rem 0
      &:hover
        box-shadow: 0 0 4px rgba(36, 127, 101, 0.5)
  .radio-wrapper
    display: flex
    align-items: center
    background: rgba(36, 127, 101, 0)
    padding: 0 .8rem
    margin: .3rem 0
    border-radius: 4px
    cursor: pointer
    &:hover
      background: rgba(36, 127, 101, 0.1)
    & > input
      cursor: pointer
    & > label
      cursor: pointer
      display: block
      width: 100%
      padding: .4rem .6rem
      margin-bottom: 1px

  &.summary-container
    padding: 1rem
    h2
      margin-bottom: 2rem
    h3
      margin-top: 1.2rem
      font-size: 1rem
    p
      font-size: 1rem
      background: rgba(36, 127, 101, 0.1)
      padding: 0 0 0 1rem
      

    img
      width: 28px
      height: 30px
      object-fit: cover

  .dropzone 
    margin-bottom: 1rem

    .dropzone-inner 
      height: 100px
      width: 80%
      margin: 1rem auto
      border: 2px dashed #888
      border-radius: 4px
      display: flex
      justify-content: center
      align-items: center
      background-image: linear-gradient(#A3CDFA, #A3CDFA)
      color: rgba(255, 255, 255, 0.7)


    .dropzone-image 
      font-size: 1.8rem

    aside
      display: grid
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr
      font-size: .8rem
      justify-content: center
      div
        margin: .3rem .5rem

  @media(max-width: 800px)
    input
      &[type="text"]
        display: block
        width: 100%

    