// .tootltip
//   text-decoration: underline !important
//   color: red

.step-container
  // padding: 1rem
  padding-top: 1rem
  margin-bottom: 1rem
  p
    margin: .5rem 0
  textarea
    width: 100%
    max-width: 800px
    min-height: 5rem
  input
    margin-right: .4rem
    &[type="text"]
      border: 1px solid #bbb
      width: 30%
      margin: .8rem .3rem .8rem 0
  .dropzone 
    margin-bottom: 1rem

    .dropzone-inner 
      height: 100px
      width: 80%
      margin: 1rem auto
      border: 2px dashed #888
      border-radius: 4px
      display: flex
      justify-content: center
      align-items: center
      background-image: linear-gradient(#A3CDFA, #A3CDFA)
      color: rgba(255, 255, 255, 0.7)


    .dropzone-image 
      font-size: 1.8rem

    aside
      display: grid
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr
      font-size: .8rem
      justify-content: center
      div
        margin: .3rem .5rem