.labels
  .label-container
    max-width: 800px
    display: flex
    flex-flow: row wrap
    margin-left: -8px 
    width: 100%
    // grid-template-columns: 1fr 1fr 1fr
    .label-wrapper
      display: flex
      margin: .3rem
    .button-delete
      border: none
      background: none
      color: #F44335
  .label-blank
    width: 150px
    margin: 8rem auto 0
    
    input
      // background: rgba(white, 1) !important
      border: 1px solid white
      color: black !important
      padding: .1rem .6rem !important
      margin: .2rem 0
      font-size: .75rem !important
      height: auto !important
      &:focus
        background: transparent !important
    
    // text-align: center