.training-box--content
    display: grid
    grid-gap: 1rem
    grid-template-columns: 1fr 1fr 1fr
    margin: 1rem auto 3rem
    max-width: 1080px

    @media(max-width: 1100px)
      margin: 1rem 1rem 3rem
    @media(max-width: 1020px)
      grid-template-columns: 1fr 1fr
    @media(max-width: 730px)
      grid-template-columns: 1fr
    a
      &:hover
        text-decoration: none
        & > *
          opacity: .8 !important
      
.training-item
  background: rgba(#ffc800, 0.1)
  max-width: 400px
  padding: 1rem
  color: #050505
  height: 100%
  
  &--title
    font:
      size: 1.25rem
      weight: bold
    margin-bottom: 1rem

  &--description
    border-top: 1px solid #ffc800
    padding: .4rem 0 0
    font-size: .9rem
    margin-bottom: 1rem

  &--info
    display: flex
    align-items: center
    justify-content: space-between
    margin-bottom: .3rem
    width: 100%
    &__child
      width: 100%
      &--data
        display: flex
        flex-direction: column
        justify-content: flex-start
        &__line
          display: flex
          line-height: 1
      img
        width: 2rem
        margin-right: 1rem

  &--link
    text-align: right
    margin-top: 1rem
    a
      color: #050505
      font-weight: bold

      &:hover
        text-decoration: none
        opacity: .8

      img
        width: 1.2rem
        margin-left: 1rem