.action-bar
  // flex: 1
  height: 2.4rem
  padding: .3rem 2rem
  &--menu
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    a
      color: #ef542b
      margin: 0 .5rem
      font-weight: bold

    img
      height: 1.6rem