.date-object
  font-family: 'Vision', sans-serif
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: center
  // width: 100px
  background: #FFC800
  padding: .2rem .5rem

  &--month
    padding: 0 .8rem
    text-align: center
    font-size: .9em
    border-bottom: 1px solid #FBE394
  &--day
    font-size: 2.2em
    line-height: 1
    margin: .3rem 0
  &--time
    font-size: .9em