.header
  box-shadow: 0 3px 3px rgba(0,0,0,.3)
  .navbar
    background: lighten(#343A40, 10%) !important
  .logo
    display: flex
    flex-direction: column
    align-items: center
    color: #bbb
    text-decoration: none
    transition: all 100ms ease-in-out
    span
      // margin-left: .3rem
      // margin-top: .2rem
      font-size: .9rem
      line-height: 1
    &:hover
      filter: drop-shadow(0 0 5px rgba(#FFC803, .5))
  .nav-link
    color: darken(lighten(#FFC803, 40%), 50%)
    text-align: center
    display: block
    text-decoration: none
    height: 100%
    transition: transform 200ms ease-in-out
    svg
      font-size: 1.3rem
    p
      font-size: .8rem
    &:hover
      background: #333
  .active
    transform: translateY(5px)
    background: #2D3034
    color: lighten(#237F65, 40%)
    box-shadow: inset 0 3px 3px rgba(black, .5)
  
  @media(max-width: 600px)
    .nav-bar
      padding: 0 !important
    .nav-link
      svg
        font-size: .9rem
      p
        font-size: .7rem