.info-card
  margin: 0 1rem
  max-width: 22rem
  display: flex
  flex-direction: column
  justify-content: space-between
  &.white
    .info-card--title-box
      color: #050505
    .info-card--link a
      color: #050505
  &.default
    .info-card--title-box
      color: #247F65
    .info-card--link a
      color: #050505
  &.red
    .info-card--title-box
      color: #EF542B
      width: 50%      
    .info-card--link a
      color: #EF542B
      

  &--title-box
    // min-height: 3.8rem
    display: flex
    justify-content: flex-start
    align-items: center
    // width: 50%
    margin-bottom: 1rem
    img
      width: 50px !important
    h2
      margin: 0
      line-height: 1.2
      font:
        size: 1.4rem
        weight: bold
      min-height: 3.3rem

  &--body
    &__text
      font-size: 1rem
      line-height: 1.39
      margin-bottom: 1.4rem
    &__list
      margin: 1.5rem 0 1.5rem 1rem
      li
        display: flex
        flex-direction: row
        align-items: flex-start
        justify-content: flex-start
        margin: .4rem 0
        img
          margin-right: .4rem !important
          margin-top: .2rem
          width: 18px !important
          
        span
          line-height: 1
          padding-top: 2px
  &--link
    // margin-top: .5rem
    font-weight: bold
    text-decoration: underline
  &--button
    margin-top: 1rem

  @media(max-width: 900px)
    margin: 0 0 2rem
    max-width: 100%
    width: 100%
    &.red
      .info-card--title-box
        align-items: center
        width: auto
    &.default
      .info-card--body
        &__text
          // display: none