.Admin {
  background: #2e3034;
  color: white;
  overflow-x: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
.header .navbar {
  background: #36373c !important;
}

.footer {
  background: #36373c !important;
}
