.embed-popup
  // display: fixed
  // top: 25vh
  // left: 25vw
  // height: 50vh
  width: 50vw
  background: rgba(white, .2)
  padding: 1rem


  .create-video
    &--description
      width: 100%
      display: flex
      &__content
        flex: 1
        margin: .5rem