.logo-box-container
  max-width: 800px
  margin: 3rem auto
  padding: 0 1rem
  h1
    font-size: 2rem
    text-align: left
  @media(max-width: 501px)
    h1
      font-size: 2rem
  .logo-box
    // width: 500px
    
    margin: 2rem auto
    display: flex
    flex-direction: column
    align-items: flex-start
    &.box-is-active > .logo-box--content
      // background: green
      display: block
    &.box-is-active .logo-box--title, &.box-is-active h1
      &:before
        content: '-'
    &--item
      
      
      margin: 2rem 0 1rem
      text-align: left
      img
        margin: 1rem 0
        max-width: 480px
        max-height: 540px
      @media(max-width: 501px)
        img
          max-width: 300px
    .logo-box
  
      &--title, h1
        display: flex
        justify-content: center
        align-items: center
        cursor: pointer
        &:before
          content: '+'
          font-size: 1rem
      &--content
        display: none
        padding: 1rem 2rem
        background: #E9F2EF
    h2
      text-align: left
      font:
        size: 1.2rem
      a
        color: #111
      
      
      
    .download-container
      display: flex
      flex-direction: column
      align-items: flex-start
      // margin-bottom: 3rem
      
      .download-link
        display: flex
        flex-direction: row
        align-items: center
        text-align: left
        margin-top: 1rem
        padding: 1rem
        border: 1px solid #ED5455
        text-decoration: none
        color: #333
        border-radius: 4px
        &:hover 
          opacity: .8
        .zip-icon
          font-size: 2.3rem
          color: #ED5455
          margin-right: .3rem
          // height: 40px
        .download-info
          display: flex
          flex-direction: column
          .file-name
            font-size: .9rem
          .file-size
            font-size: .7rem
            color: #999