.info-box-container
  width: 100vw
  padding: 0 2rem
  display: flex
  justify-content: center

  &.white
    background: #fff
    .info-box--title-box
      color: #050505
  &.default
    background: rgba(#247F65, .05)
  &.red
    .info-box--title-box
      color: #EF542B

  .info-box
    max-width: 1080px
    margin: 3rem 0

    &.smallBottom
      margin-bottom: 0

    
    img
      margin-right: .4rem
      width: 56px
    h1
      font-size: 1.8rem
      margin: 0
      font-weight: bold
    &--header
      text-align: center
      max-width: 700px
      margin: 0 auto 2rem

    &--title-box
      display: flex
      align-items: center
      justify-content: center
      margin-bottom: 1rem
    &--body
      line-height: 1.2

    &--buttons
      display: flex
      justify-content: center
      div
        margin: 0 2rem
      
    &--card-section
      display: flex

  @media(max-width: 900px)
    
    &.red
      .info-box
        &--header
          // margin: 0
          text-align: left
      .info-box--title-box
        display: block
        text-align: center
    .info-box
      max-width: 500px
      &--buttons
        display: block
        // justify-content: center
        text-align: center
        div
          margin: 2rem 0
      &--card-section
        display: block
