.info-box-container
  width: 100vw
  padding: 0 2rem
  display: flex
  justify-content: center

  &.white
    background: #fff
    .info-box--title-box
      color: #050505
  &.default
    background: rgba(#247F65, .05)
  &.red
    .info-box--title-box
      color: #EF542B
  &.no_header
    .info-box
      margin-top: 0
      margin-bottom: 8rem
      &--header
        margin: 0

  &.column
    .info-box
      &--header
        text-align: left
      &--title-box
        justify-content: flex-start
      &--card-section
        display: block
        max-width: 700px


  .info-box
    max-width: 1080px
    margin: 4rem 0

    &.smallBottom
      margin-bottom: 0
      
    
    img
      margin-right: .4rem
      width: 60px
    h1
      font-size: 1.8rem
      margin: 0
      font-weight: bold
    &--header
      text-align: center
      max-width: 700px
      margin: 0 auto 3rem

    &--title-box
      display: flex
      align-items: center
      justify-content: center
      margin-bottom: 1rem
    &--body
      line-height: 1.2
      font-size: 1.1rem

    &--buttons
      display: flex
      justify-content: center
      margin-bottom: 2rem
      div
        margin: 0 2rem
      
    &--card-section
      display: grid
      grid-template-columns: 1fr 1fr 1fr
      grid-row-gap: 2rem
      &.two
        grid-template-columns: 1fr 1fr

  @media(max-width: 900px)
    
    &.red
      .info-box
        
        &--header
          // margin: 0
          text-align: left
      .info-box--title-box
        display: block
        text-align: center
    .info-box
      max-width: 500px
      &.smallBottom
        margin-bottom: -5rem
      &--buttons
        display: block
        // justify-content: center
        text-align: center
        div
          margin: 2rem 0
      &--card-section
        display: block
