.item-add-list
  padding: 0 1rem
  max-width: 300px
  .add-button
    width: 180px
    background: rgba(#4BBC29, .9)
    padding: .3rem .5rem .3rem .8rem
    border-radius: 1rem
    text-decoration: none
    color: white
    display: flex
    justify-content: space-between
    &:hover
      box-shadow: 0 0 10px #4BBC29
    .plus-icon
      background: rgba(white, .2)
      width: 1.5rem
      height: 1.5rem
      margin-left: .4rem
      display: flex
      justify-content: center
      align-items: center
      border-radius: 50%

.item-list
  margin-top: 1rem
  // &--item
    
      
  a
    font:
      size: .8rem
      weight: 100
    display: block
    margin: 1px 0
    padding: .3rem .6rem
    background: rgba(white, .1)
    color: white
    text-decoration: none
    &.active
      padding-left: 1rem
      font-style: italic
      background: rgba(white, .3)
.dragged
  a
    font:
      size: .8rem
      weight: 100
    display: block
    margin: 1px 0
    padding: .3rem .6rem
    color: white
    text-decoration: none
    background: #aaa
    box-shadow: 0 0 30px rgba(white, .4)
    &.active
      padding-left: 1rem
      font-style: italic
      background: #bbb