.sub-menu-item
  display: none
  flex-direction: row
  max-width: 1080px
  margin: 0 auto
  justify-content: space-between
  

  &.visible
    display: flex
    padding: 2rem 1rem 3rem
  &.second-row.visible
    display: grid
    grid-template-rows: 86px
  &.training.visible
    display: grid
    grid-template-rows: 56px
    // grid-template-columns: 1fr 1fr 1fr
    .sub-item
      grid-row: 1
      margin: 0 1rem 2rem
      &.second-row-item
        grid-row: 2
        grid-column: 3
  .sub-item
    grid-row: 1
    margin: 0 1rem
    flex-grow: 1
    

    &.two
      grid-row: 2
    &--title 
      margin-bottom: 1rem
      width: 100%
      .no-link
        font-size: 1rem 
        font-weight: bold 
        color: #191919
        padding: 0 0 .4rem 
        border-bottom: 1px solid #aaa 
      a
        display: inline-block
        width: 100%
        font-size: 1rem !important
        font-weight: bold !important
        color: #191919
        padding: 0 0 .4rem !important
        border-bottom: 1px solid #aaa !important
        &:hover, &.active
          border-bottom: 1px solid #FFC52D !important
      img
        width: 16px
        margin-left: .2rem

  .contact-box--container
    grid-row: 1
    // flex-grow: 1
        
  .sub-sub-item 
    margin-top: .3rem
    a
      padding: 0 !important
      font-size: .9rem !important
      color: #191919
      &.active
        border-bottom: 2px solid #FFC52D !important
