.sub-menu-item
  display: none
  flex-direction: row
  max-width: 1080px
  margin: 0 auto
  justify-content: space-between
  

  &.visible
    display: flex
    padding: 2rem 1rem 3rem
  .sub-item
    margin: 0 1rem
    flex-grow: 1
    &--title 
      margin-bottom: 1rem
      width: 100%
      .no-link
        font-size: 1rem 
        font-weight: bold 
        color: #191919
        padding: 0 0 .4rem 
        border-bottom: 1px solid #aaa 
      a
        display: inline-block
        width: 100%
        font-size: 1rem !important
        font-weight: bold !important
        color: #191919
        padding: 0 0 .4rem !important
        border-bottom: 1px solid #aaa !important
        &:hover, &.active
          border-bottom: 1px solid #FFC52D !important

  .contact-box--container
    // flex-grow: 1
        
  .sub-sub-item 
    margin-top: .3rem
    a
      padding: 0 !important
      font-size: .9rem !important
      color: #191919
      &.active
        border-bottom: 2px solid #FFC52D !important
