.sub-menu-item
  display: none
  flex-direction: row
  &.visible
    display: flex
  .sub-item
    
    margin: 0 1rem
    &--title
      font-size: 1.2rem
      color: #FFC52D
      border-bottom: 1px solid #aaa
      margin-bottom: 1rem