.alert
  background: #FEF8F6
  margin: 0
  width: 100vw
  padding: 0 2rem
  z-index: 2
  &.red
    .alert-text
      color: #ef542b
      
  &-wrapper
    display: flex
    justify-content: space-between
    align-items: center
    max-width: 1080px
    margin: 0 auto
    padding: .8rem 0
  &--left
    display: flex
    align-items: center
    img
      position: absolute
      width: 60px
      height: 60px
    .alert-text
      font-size: .9rem
      color: #010101
      margin-left: 4.4rem
    .alert-title
      font-weight: bold
      margin-left: 4.4rem
  &--right