.quote-box
  max-width: 360px
  margin: 2rem auto
  text-align: center
  .quote-text
    color: #84B3B3
    font:
      size: 1.3rem
      style: italic
    line-height: 1.2
    margin-bottom: .6rem
  .quote-author
    font-size: .9rem
    