.card-grid-container
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  padding: 1rem 2rem 2rem
  background: rgba(#ffd300, .2)
  width: 100vw
  .card-grid-title
    font:
      size: 1.5rem
      weight: bold
    margin: 0 0 1rem
  .card-grid
    max-width: 1080px
    width: 100%
    display: grid
    grid-gap: 2rem 1rem
    grid-template-columns: 1fr 1fr 1fr 1fr
    &.three
      grid-template-columns: 1fr 1fr 1fr
    &.two
      grid-template-columns: 1fr 1fr
      width: auto

    .grid-item
      // width: 10rem
      // padding: 0 2rem
      justify-content: center !important

      height: 220px
      // margin: 0 auto
      &.wide
        grid-column: span 2
      &.large
        grid-column: span 2
        height: auto
        padding: 2rem 0
        @media(max-width: 860px)
          grid-column: span 3
          &:last-child
            padding-top: 0
    &-link
      margin: 1rem 0 0
      a
        color: #050505
        text-decoration: underline

  @media(max-width: 860px)
    .card-grid
      grid-template-columns: 1fr 1fr 1fr

  @media(max-width: 700px)
    .card-grid
      grid-template-columns: 1fr 1fr
      // grid-rows: 1fr
  @media(max-width: 520px)
    .card-grid
      grid-template-columns: 1fr !important
      align-items: center
      justify-content: center
      .grid-item
        margin: 0 auto
      // grid-rows: 1fr

