.contact-box
  width: 100%
  margin-left: 1rem
  display: flex
  align-items: center
  font:
    size: .8rem
    weight: normal
  @media(max-width: 1070px)
    display: block
    .contact-box--right
      margin-left: 0
  a
    font-size: .8rem !important
    text-decoration: underline
  &--left
    &__title
      font:
        size: 1rem
        weight: bold
      margin-bottom: .5rem
    &__address
      margin-bottom: .5rem

  &--right
    margin-left: 1rem
    .icon-link-box
      margin-top: 1rem !important

    
      
